@tailwind base;
@tailwind components;
@tailwind utilities;



@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.thumnail img {
  height: 100%;
}
.thumnail {
  height: 224px;
}
.video-box div {
  width: 59% !important;
  height: 509px !important;
  position: fixed;
}

@media only screen and (max-width: 640px) {
  .video-box div {
    width: 100% !important;
    height: 285px !important;
    background-color: black;
}
}
@media only screen and (max-width: 1024px) {
  .video-box div {
    width: 100% !important;
    height: 330px !important;
    background-color: black;
}
}

@layer components {
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    /* padding: theme('spacing.6'); */
    box-shadow: theme("boxShadow.xl");
  }
  .card img {
    width: 100%;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

  @media (min-width: 1024px) {
    .w-18-pr {
      width: 18%;
    }
  }
}
