@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.thumnail img {
  height: 100%;
  border-radius: 10px;
}
.thumnail {
  height: 224px;
}
.video-box div {
  width: 100% !important;
  height: 509px !important;
  /* position: fixed; */
  border-radius: 18px;
  overflow: hidden;
  cursor: pointer;
  background-color: black;
}

@media only screen and (max-width: 640px) {
  .video-box div {
    height: 285px !important;
    background-color: black;
    position: fixed;
    border-radius: 0;
  }
}
@media only screen and (max-width: 1024px) {
  .video-box div {
    height: 330px !important;
    background-color: black;
    position: fixed;
    border-radius: 0;
    top: 85px;
  }
  .sm-fixed {
    position: fixed;
  }
  .mob_hide {
    display: none;
  }
}
@layer components {
  .card {
    background-color: theme("colors.white");
    border-radius: theme("borderRadius.lg");
    box-shadow: theme("boxShadow.xl");
    width: 96%;
  }
  .card img {
    width: 100%;
  }
  .scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }
  .mt-22 {
    margin-top: 21rem;
  }

  @media (min-width: 640px) {
    .card {
      width: 30%;
    }
  }
  @media (min-width: 1024px) {
    .w-18-pr {
      width: 18%;
    }
    .card {
      width: 22%;
    }
  }
}
